<h1>Все исполнители</h1>
<div class="artists-container">
  <div class="artists-list">
    @for (a of artists; track $index){
      <div class="artist-card">
        <div class="artist-header">
          <h2>
            <a routerLink="/artist/{{a.name}}/{{a.id}}" routerLinkActive="active">{{a.name}}</a>
          </h2>
        </div>
        <div class="albums-grid">
          @for (alb of a.albums | slice:0:3; track $index){
            <div class="album-card">
              <a routerLink="/album/{{alb.id}}" routerLinkActive="active">
                {{alb.title}}
              </a>
            </div>
          }
        </div>
        @if (a.albums.length > 3) {
          <button class="show-more-btn">Показать еще</button>
        }
      </div>
    }
  </div>
</div>
