<form class="better-container" [formGroup]="form"
(ngSubmit)="onSubmit()"
>
  <h2>Вход</h2>
  <hr/>
  <div>
    <label for="username">
      Логин
    </label>
    <div class="center">
      <input type="text"
             id="username"
             name="username"
             formControlName="username"
             placeholder="Введите логин"
      />
    </div>

  </div>
  <div>
    <label for="password">
      Пароль
    </label>
    <div class="center">
      <input type="password"
             id="password"
             name="password"
             formControlName="password"
             placeholder="Введите пароль"
      />
    </div>
  </div>
  <div class="center2">
    <button type="submit">
      Вход
    </button>
  </div>

</form>
