.better-container {
  background: rgba(31, 31, 31, 0.9);
  width: 20%;
  border-radius: 10px;
  padding: 1.5rem;
  margin: 20px auto; /* Центрирование формы на странице */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(5px);
  border: 1px solid rgba(125, 14, 221, 0.2);
}

.better-container h2 {
  text-align: center;
  color: #d8d0d0;
}

.better-container label {
  text-align: center;
  display: block; /* Отображение меток как блочных элементов */
  margin-bottom: 0; /* Отступ снизу */
  font-weight: bold; /* Жирный шрифт для меток */
  color: #d8d0d0;
}
.better-container hr {
  color: #5914ae;
}
.better-container input {
  text-align: center;
  background: transparent;

  color: white;
  width: 90%; /* Полная ширина поля ввода */
  padding: 10px; /* Отступы внутри поля */
  margin: 20px auto;
  border: 2px solid #d8d0d0; /* Рамка вокруг поля */
  border-radius: 4px; /* Закругленные углы */
  font-size: 16px; /* Размер шрифта */
}
.center{
  text-align: center;
}
.better-container button {
  display: block; /* Отображение кнопки как блочного элемента */
  width: 95%;
  justify-content: space-between;
  padding: 10px; /* Отступы внутри кнопки */
  border: none; /* Убрать рамку */
  border-radius: 4px; /* Закругленные углы */
  background-color: #6214ae;
  color: #d8d0d0; /* Цвет текста */
  font-size: 16px; /* Размер шрифта */
  cursor: pointer; /* Курсор в виде указателя */
  transition: background-color 0.3s; /* Плавный переход цвета фона */
}
.better-container button:hover {
  background-color: #48107e;
}

.center2 {
  display: block;
}
.center2 button{
  margin: 0 auto;
  justify-content: center;
}
